/**********************************
 * General settings
 **********/

body {
    margin: 0 auto;
    font-family: Georgia, serif;
}

p,
pre,
blockquote,
ul,
ol {
    margin: 0.5em 0;
    line-height: 1.467em;
}

pre {
    overflow-x: auto;
}

ul, ol {
    padding-left: 1em;
}

a:link {
    color: #0008a0;
}

a:visited {
    color: #6d70a0;
}

a:hover,
a:active {
    color: #0008a0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 1.3em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.2em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.1em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/**********************************
 * Blog header
 */

#blog-header {
    text-align: center;
    margin: 0 auto;
}

#blog-header h1 {
    font-size: 4em;
    margin: 0;
    text-transform: uppercase;
    font-family: Georgia, serif;
}

a:link#blog-header-link,
a:visited#blog-header-link,
a:hover#blog-header-link,
a:active#blog-header-link 
{
    color: #0008a0;
    text-decoration: none;
}

#blog-logo-and-title {
    display: flex;
    justify-content: space-between;
}

#blog-header-logo {
    height: 5em;
}

/**********************************
 * Navigation bar
 */

nav#navigation {
    border-top: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    padding: 7px 0;
    display: flex;
    justify-content: space-around;
}

nav#navigation a {
    text-decoration: none;
    text-transform: uppercase;
}

nav#navigation a:link,
nav#navigation a:visited,
nav#navigation a:hover,
nav#navigation a:active {
    color: black;
}

/**********************************
 * Post
 */

#post-header {
    padding-bottom: 0.3em;
}

#post-header h1 {
    font-size: 2em;
    margin-bottom: 0em;
    padding-bottom: 0.2em;
}

#post-header > hr {
    border: none;
    border-bottom: 1px dashed #b0b0b0;
    margin-top: 0;
    padding: 0;
}

#post h2 {
    font-size: 95%;
}

#post {
    display: flex;
    flex-direction: column;
}

#post hr {
    height: 1px;
    border: 0 none;
    color: #b0b0b0;
    background-color: #b0b0b0;
}

#post-date {
    font-size: 0.8em;
    text-align: right;
}

/**********************************
 * Footer
 */

footer#blog-footer {
    border-top: 1px solid #b0b0b0;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 0.8em;
    text-align: center;
}

footer#blog-footer > div#microbuttons {
    display: flex;
    justify-content: center;
}

footer#blog-footer > div#microbuttons > a {
    margin: 0.5em 1px;
}

/**********************************
 * Miscellaneous
 */

.center {
    align-self: center;
}

#service-page h1 {
    text-align: center;
    width: 90%;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

code {
    font-size: 0.8em;
    background-color: #f5f5f5;
    margin: 0 0.2em;
}

pre {
    border-left: 0.3em solid #a5a5a5;
    background-color: #f5f5f5;
    margin-left: -1em;
    padding-left: 0.7em; /* 1em of margin minus 0.3em of border */
    margin-right: -1em;
    padding-right: 1em;
}

pre code {
    margin: 0;
}

blockquote {
    border-left: 0.3em solid green;
    background-color: rgba(0, 255, 0, 0.07);
    margin-left: -1em;
    padding-left: 0.7em; /* 1em of margin minus 0.3em of border */
    margin-right: -1em;
    padding-right: 1em;
}

blockquote.warning {
    border-left: 0.3em solid red;
    background-color: rgba(255, 0, 0, 0.07);
}

ul {
    list-style-type: circle;
}

img.fullscreen {
    width: calc(100% + 2em);
    height: calc(100% + 2em);
    margin-left: -1em;
    margin-right: -1em;
}

.footer-button {
    height: 15px;
    width: 80px;
}

div.prev_next_post_button > a:link,
div.prev_next_post_button > a:visited {
    color: #f5f5f5;
    text-decoration: none;
}

div.prev_next_post_button > a:hover,
div.prev_next_post_button > a:active {
    color: #bbbbbb;
}

p.hakyll-convert-comment-date {
    background-color: #f5f5f5;
}

div.year-posts-list time {
    font-family: monospace;
}

div.year-posts-list a {
    text-decoration: none;
}
