/* Colors are from this palette:
 * https://coolors.co/0008a0-ece2d0-f5f3f3-1e5037-fffbea
 */

/**********************************
 * General settings
 **********/

html {
    font-size: 18px;
    color: #141414;
    background: #f9f8f8;
}

body, blockquote {
    margin: 0 auto;
    font-family: "DejaVu Serif", "Bitstream Vera Serif", Constantia, Georgia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, serif;
    /* Using unitless value so that line-height can be re-calculated when
     * font-size changes inside blockquotes and stuff. */
    line-height: 1.5;
}

a {
    text-decoration: none;
}

pre,
p,
blockquote,
ul,
ol,
table {
    margin-top: 0;
    margin-bottom: 1.2rem;
}

ol > li:last-child > *,
ul > li:last-child > * {
    margin-bottom: 0;
}

li + li {
    margin-top: 1rem;
}

blockquote > p {
    /* Override the rule above. */
    margin-bottom: 0;
}

pre {
    overflow-x: auto;
}

ul, ol {
    padding-left: 1rem;
}

ol > li {
    padding-left: 0.233rem;
}

a:link {
    color: #0008a0;
}

a:visited {
    color: #6d70a0;
}

a:hover,
a:active {
    color: #0008a0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DejaVu Sans Condensed", "Nimbus Sans L", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    line-height: 1.15;
}

/* Disable margins for situations where headings of different levels follow
 * each other. Cases where, for example, h3 follows h4 aren't handled as they
 * aren't realistic. Cases where e.g. h1 follows h1 aren't handled because in
 * such situations we *do* want to visually separate the tags. */
h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h4, h3 + h5, h3 + h6,
h4 + h5, h4 + h6,
h5 + h6 {
    margin-top: 0;
}

/* Bottom margins follow minor third (5:6 ratio). Top margins are 1.618 times
 * larger (golden ratio). 1.2rem that we're subtracting is the bottom margin of
 * <p> and other elements. */
h1 {
    color: #083f24;
    font-size: 1.44rem;
    margin-top: calc(1.618 * 1rem - 1.2rem);
    margin-bottom: 1rem;
}

h2, h3, h4, h5, h6 {
    color: #646260;
    font-size: 1.2rem;
}

h2 {
    margin-top: calc(1.618 * 0.833rem - 1.2rem);
    margin-bottom: 0.833rem;
}

h3 {
    margin-top: calc(1.618 * 0.694rem - 1.2rem);
    margin-bottom: 0.694rem;
}

h4 {
    margin-top: calc(1.618 * 0.579rem - 1.2rem);
    margin-bottom: 0.579rem;;
}

h5 {
    margin-top: calc(1.618 * 0.482rem - 1.2rem);
    margin-bottom: 0.482rem;
}

h6 {
    margin-top: calc(1.618 * 0.402rem - 1.2rem);
    margin-bottom: 0.402rem;
}

/**********************************
 * Blog header
 */

#blog-header {
    text-align: center;
    margin: 0 auto;
}

/**********************************
 * Navigation bar
 */

nav#navigation {
    border-bottom: 1px solid #083f24;
    padding-top: 7px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.2rem;
}

nav#navigation a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 7px; /* Same as padding-bottom on nav#navigation. */
    flex-grow: 1;
}

nav#navigation a:link,
nav#navigation a:visited,
nav#navigation a:hover,
nav#navigation a:active {
    color: black;
}

nav#navigation a#navbar-selected-link {
    border-bottom: 3px solid #083f24;
    /* 3px border will push the bottom of the nav#navigation down, so we
     * decreate the padding to keep bottom border in the same place. */
    padding-bottom: 4px;
}

/**********************************
 * Post
 */

#post-header {
    margin-top: 1.618rem;
}

#post-header > h1 {
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
    /* Just a bit of limitation to force browsers make the heading narrower. */
    width: 95%;
    margin: 0 auto;
}

#post-date {
    font-size: 0.833rem;
    text-align: center;
    margin-top: 0.907rem;
    /* 3.5rem is one octave above 1rem if we're using minor third. We substract
     * top margin and the height of the date line itself, and this is our
     * bottom margin! */
    margin-bottom: calc(3.5rem - 0.907rem - 0.833rem * 1.35);
}

#post {
    display: flex;
    flex-direction: column;
}

/* Headings have a bit of margin at the top to better stand out. Hovewer, we
 * don't want that behaviour when the heading comes first thing in the post,
 * because we already have some whitespace above it. */
#post > h1:first-child,
#post > h2:first-child,
#post > h3:first-child,
#post > h4:first-child,
#post > h5:first-child,
#post > h6:first-child {
    margin-top: 0;
}

#post hr {
    height: 1px;
    border: 0 none;
    color: #b0b0b0;
    background-color: #b0b0b0;
}

/**********************************
 * Footer
 */

footer#blog-footer {
    border-top: 1px solid #083f24;
    font-size: 0.833rem;
    text-align: center;
    padding-top: calc(0.833rem / 1.618);
}

footer#blog-footer > div#microbuttons {
    display: flex;
    justify-content: center;
}

footer#blog-footer > div#microbuttons > a {
    margin: calc(0.833rem / 3) 3px 0;
}

.footer-button {
    height: 15px;
    width: 80px;
}

/**********************************
 * Archives
 */

.archives-year-container {
    /* Same as <h1>. */
    margin-top: 1.618rem;
    margin-bottom: 1rem;
}

.service-page > .archives-year-container:first-child {
    margin-top: 0;
}

.archives-year {
    /* Same as <h1>. */
    color: #083f24;
    font-size: 1.44rem;
    width: 4rem; /* Same as .archives-post-date */
    text-align: right;
    display: inline-block;
}

.archives-posts-container {
    border-top: 1px dotted #9b9c9c;
}

.archives-post-container {
    /* We use flex to keep both .archives-post-date and .archives-post-title on
     * the same line. */
    display: flex;
}

.archives-post-date {
    display: inline-block;
    width: 4rem; /* Same as .archives-year */
    text-align: right;
    margin-right: 1rem;
    flex-shrink: 0;
}

.archives-post-title {
    display: inline-block;
}

/**********************************
 * Miscellaneous
 */

.center {
    align-self: center;
    text-align: center;
}

code {
    font-size: 0.8rem;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    background-color: #f5f3f3;
    margin: 0 0.2rem;
}

pre {
    border-top: 1px solid #9b9c9c;
    border-bottom: 1px solid #9b9c9c;
    padding: 0.3rem 0;
}

pre code {
    margin: 0;
    background-color: transparent;
}

blockquote {
    border-left: 0.3rem solid #083f24;
    margin-left: -1rem;
    padding-left: 0.7rem; /* 1em of margin minus 0.3em of border */
    margin-right: -1rem;
    padding-right: 1rem;
    font-size: 0.833rem;
}

blockquote.warning {
    border-left: 0.3rem solid red;
    background-color: rgba(255, 0, 0, 0.07);
}

ul {
    list-style-type: circle;
}

p.hakyll-convert-comment-date {
    background-color: #dcd6d3;
}

.break {
    height: 0.618rem;

    /* We don't set top margin because paragraphs etc. already have bottom
     * margin equal to 1.2rem. */

    /* If we set both top and bottom margins to the same value, the image will
     * appear to be closer to the previous paragraph than the next. Why is
     * that?
     *
     * Well, the space occupied by the top margin is, visually, the one between
     * baseline of the paragraph and the top line of the image. But the space
     * occupied by the bottom margin is the one between the bottom of the image
     * and the line at the x-height of the following paragraph! I think this
     * happens due to the fact that space between cap- and x-height of the
     * typeface is very sparse, so it appears visually empty. Thus the bottom
     * margin of the image seems wider by cap-height minus x-height. By making
     * the bottom margin tighter by the same amount, we can compensate for that
     * effect.
     *
     * Font size is 19px. We use Gentium Plus typeface, where the distance
     * between cap- and x-height is 1/4 of the em. */
    margin-bottom: calc(1.2rem - 0.25rem);
}

.content-desktop,
.content-mobile {
    display: none;
}

div.epigraph {
    margin-left: 33%;
    font-size: 0.833rem;
}
