body {
    width: 35em;
}

a#nav-about,
a#nav-subscribe {
    flex: 3;
}

div.prev_next_post_button {
    position: fixed;
    top: 50%;
    transform: scale(20);
}

div#prev_post_button {
    left: calc((100% - 35em) / 4);
}

div#next_post_button {
    right: calc((100% - 35em) / 4)
}

.content-desktop {
    display: inline;
}
