/* TODO: min-width here should be tied to 35em of width with 19px font. We don't try
 * to distinguish between desktop and mobile - we're differentiating between
 * wide and narrow screens. */
@media only screen and (min-width: 769px) {

body {
    width: 38rem;
}

img.bleed {
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    margin-left: -2rem;
    margin-right: -2rem;
}

.content-desktop {
    display: inline;
}

}
