body {
    font-size: 1em;
    margin: 0 1em;
}

#blog-header-logo {
    display: none;
}

#blog-logo-and-title {
    justify-content: space-around;
}

pre {
    padding-left: 0.5em;
    margin-left: -0.5em;
}
