@media only screen and (max-width: 768px) {

body {
    margin: 0 1rem;
}

img.bleed {
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;
}

.content-mobile {
    display: inline;
}

}
