body {
  background: #05509e;
  background: linear-gradient(black, #05509e);
}
div.container {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  background: white;
  box-shadow: 0px 0px 10px 4px #000;
}
div.logo {
  background: url(icfpc-2015-logo-100x222.png);
  height: 100px; line-height: 100px;
  background-repeat: no-repeat;
  padding-left: 222px;
  font-size: 300%;
}
div.file {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c4cea7;
  background-color: #f1fae6;
  padding: 20px;
}
.file p { margin: 0px; }
a.file::before { content: url(icfpc-2015-magnifying_glass.gif); }
.key { color: gray; font-weight: bold; }
span.key::after { content: ": " }
.date { font-size: 70%; }
.synopsis { margin: 1ex 0; font-size: 85%; }
