<article class="service-page" id="archives">
$if(tag)$
<header id="post-header">
    <h1>Posts tagged “$tag$”</h1>
</header>
$endif$
$for(years)$
<div class="archives-year-container">
    <span class="archives-year">$year$</span>

    <div class="archives-posts-container">
    $for(posts)$
        <div class="archives-post-container">
            <span class="archives-post-date">
                <time datetime="$datetime$">$date$</time>
            </span>

            <span class="archives-post-title">
                <a href="$url$">$title$</a>
            </span>
        </div>
    $endfor$
    </div>
</div>
$endfor$
</article>
