<article>
<header id="post-header">
    <h1>$title$</h1>
    <div id="post-date">
        <time datetime="$datetime$">$date$</time>
        $if(tags)$
        &nbsp;&nbsp;&nbsp;
        •
        &nbsp;&nbsp;&nbsp;
        <span>$tags$</span>
        $endif$
    </div>
</header>

<div id="post">
$body$
</div>
<p id="comments-invitation">
Your thoughts are welcome <a href="mailto:eual.jp@gmail.com?subject=Debiania:%20$urlEncodedTitle$">by email</a>
<br/>
(<a href="/posts/2012-03-21-why-no-comments.html">here’s why my blog doesn’t have a comments form</a>)
</p>
</article>
